body,
menu {
  margin: 0;
}

menu {
  background-color: black;
  margin: 0;
  padding: 0;
  display: flex;
  justify-content: space-between;
}

menu li {
  padding: 1em;
  list-style: none;
}
menu a {
  text-decoration: none;
  color: white;
  color: rgba(255, 255, 255, 0.6);
}
menu a:hover {
  color: white;
}
menu ul {
  display: flex;
}

.menu-left ul {
  display: flex;
}

.menu-right ul {
  display: flex;
}

.prueba {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 25em;
  background-color: #fff;
  height: 100%;
}

.test {
  display: flex;
}

.orden-newchat {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  border: solid 1pt #e8ebe4;
  height: 20vh;
}

.orden {
  display: flex;
  align-items: center;
  width: 100%;
  border: solid 1pt #e8ebe4;
  height: 10vh;

  .foto-uno {
    height: 6vh;
    border-radius: 50%;
  }
  .orden-foto {
    width: 30%;
    display: flex;
    justify-content: center;
    align-items: center;
    .fotos {
      height: 7vh;
      border-radius: 50%;
    }
  }

  .orden-primero {
    line-height: 1pt;
    width: 30%;
    .names {
      font-family: "Roboto", sans-serif;
      font-weight: 400;
    }
    .descripcion {
      font-family: "Roboto", sans-serif;
      font-weight: 200;
      font-size: 70%;
    }
  }
  .icon-separate {
    display: flex;
    justify-content: space-between;
  }

  .icon-separate i {
    font-size: 24px;
    margin: 0 10px;
  }
  .orden-icono {
    width: 30%;
  }

  .orden-texto {
    line-height: 1pt;
    width: 70%;
    .names {
      font-family: "Roboto", sans-serif;
      font-weight: 400;
    }
    .descripcion {
      font-family: "Roboto", sans-serif;
      font-weight: 300;
    }
  }
}
.new-chat {
  width: 200px;
  height: 50px;
  background-color: #a491d2;
  border: none;
  outline: none;
  cursor: pointer;
  color: white;
  font-family: "Open Sans", sans-serif;
  text-align: center;
  line-height: 50px;
  font-size: 20px;
}
.new-chat:hover {
  background-color: #cdc3e6;
}

.new-chat:focus {
  background-color: #bec1bb;
}

.prueba-derecha {
  width: 100%;
  background-color: #e8ebe4;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;

  .grande-letra {
    padding: 15px 0px 0px 0px;
    font-family: "Roboto", sans-serif;
    font-weight: 400;
    font-size: 25pt;
    margin: 0;
  }
  .pequena-letra {
    font-family: "Roboto", sans-serif;
    font-weight: 400;
    font-size: 10pt;
    width: 39%;
    text-align: center;
    margin: 0;
  }
}

.manito-lila {
  height: 30vh;
}
